@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e4f6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-height: 800px) {
  .footer {
    display: none;
  }

  .swap {
    position: absolute;
    top: 4.5rem;
  }

  .connect-wallet {
    position: absolute;
    top: 21rem;
  }
}
